<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>
		<add key="baudRates" value="9600,19200,38400,57600,115200"/>
		<add key="dataBits" value="8,6,7,5"/>
		<add key="stopBits" value="1,1.5,2"/>
		<add key="checkBits" value="None,Odd,Even"/>
	</appSettings>
</configuration>